/* header{
    background-color: #6e96a3;;
    width: 110%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

header a{
    color: rgb(212, 255, 0);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;;
}